venv/
documents/
evidence/
datasets/
weights
runs/
MODNet/pretrained/modnet_webcam_portrait_matting.ckpt
MODNet/pretrained/modnet_webcam_portrait_matting.ckpt
MODNet/pretrained/modnet_photographic_portrait_matting.ckpt
MODNet/pretrained/modnet_photographic_portrait_matting.onnx